<h2><%= @book.title %></h2>

<h3><%= @book.author %></h3>

<p>Genre: <%= @book.genre %></p>

<p class='cover'><%= %></p>

<h4>Summary:</h4>
<p><%= @book.summary %></p>

<%= form_for @book do |f| %>
<p><%= f.submit 'Edit' %><%= f.submit 'Delete' %></p>

<% end %>