<div class="pure-form pure-form-stacked">
<%= form_for([@book, @book.reviews.build]) do |r| %>
<%= form_for @review do |r| %>

<%= r.label 'Your Name' %>
<%= r.text_field :reviewer %>

<%= r.label :rating %>
<%= r.text_field :rating %>

<%= r.label :content %>
<%= r.text_field :content %>

<%= r.submit 'Update Review' %>

<% end %>
</div>